/* Стили для экранов шириной менее 750 пикселей */
@media (max-width: 750px) {
    body {
        background-image: url("img/Vector_1.png");
        background-size:contain;
        margin: 0;
        font-family: 'Inter', sans-serif;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .buttons-container {
        display: flex;
        position: fixed;
        top: 60px;
        margin: 0 auto;
        text-align: center;
    }
    .button1_3{
        display: flex;
        flex-direction: column;
        width: 175px;
        height: 500px;
        margin-right: 15px;
    }
    .square-button{
        width: 175px;
        height: 155px;
        border-radius: 20px;
        border: 2px solid rgba(88, 209, 78, 1);
        background: linear-gradient(to top, #a5a5a597, 5%, #a5a5a50f);
        margin: 40px 0;
        display: block;
        cursor: pointer;
        backdrop-filter: blur(2px);
        color: #000000;
        z-index: -1;
        transition: 0.5s;
    }
}

/* Стили для экранов шириной более 750 пикселей */
@media (min-width: 751px) {
    body {
        background-image: url("img/Vector_3.png");
        background-size:contain;
        margin: 0;
        font-family: 'Inter', sans-serif;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .buttons-container {
        display: flex;
        position: fixed;
        top: 10px;
        margin: 0 auto;
        text-align: center;
        z-index: 1001;
    }
    .button1_3{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .square-button{
        width: 175px;
        height: 155px;
        border-radius: 20px;
        border: 2px solid rgba(88, 209, 78, 1);
        background: linear-gradient(to top, #a5a5a597, 5%, #a5a5a50f);
        margin: 40px 15px;
        display: block;
        cursor: pointer;
        backdrop-filter: blur(2px);
        color: #000000;
        z-index: -1;
        transition: 0.5s;
    }
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e8e8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.logo {
    height: 39px;
    width: 0;
}
.logos {
    display: flex;
    align-items: center;
}
.home-icon {
    width: 30px;
    color: #000000;
}
.phone-icon {
    width: 30px;
    /* Добавьте путь к изображению телефонной трубки */
}
.button_head {
    background-color: #fff;
    color: #000000;
    border: solid 2px #000000;
    padding: 10px 20px;
    margin: auto;
    cursor: pointer;
    text-decoration: none;
}
.button {
    background-color: #58D14E;
    color: #fff;
    border-radius: 15px;
    padding: 10px 20px;
    margin: auto;
    cursor: pointer;
    max-width: 300px;
    width: 70%;
    text-align: center;
    transition: 0.5s;
}

/* Стили для шапки */
.left-button {
    border-radius: 20px 0 0 20px;
}
.middle-button {
    border-radius: 0;
}
.right-button {
    border-radius: 0 20px 20px 0;
}

/* Стили для тела сайта */
.main-content {
    padding: 100px 5px 5px 5px;
    width: 100%;
    margin: 0 auto;
}
.section {
    margin-bottom: 40px;
    align-items: center;
}
.section h1,h2,h3,h4,h5,h6,p{
    text-align: center;
}
.section .logo{
    margin: 0 auto;
    width: 225px;
    height: 39px;
}
.section_office{
    padding: 10px 20px;
}
.section_button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}
.square-button-txt{
    width: 80%;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid rgba(88, 209, 78, 1);
    background: linear-gradient(to top, #a5a5a597, 5%, #a5a5a50f);
    margin: auto;
    display: block;
    cursor: pointer;
    backdrop-filter: blur(2px);
    color: #000000;
    z-index: -2;
    position: relative;
    transition: 0.5s;
}
.square-button:hover, 
.button:hover{
    scale: 1.1;
    transition: 0.5s;
}
.square-section_office{
    width: 350px;
    height: 225px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    font-weight: 900;
    border-radius: 20px;
    border: 2px solid rgba(88, 209, 78, 1);
    background: linear-gradient(to top, #a5a5a597, 5%, #a5a5a50f);
    margin: 15px auto;
    backdrop-filter: blur(2px);
    z-index: -1;
    position: relative;
}
.square-section_office h3{
   text-align: left;
   font-size: 15px;
   margin-left: 15px;
   margin-bottom: 0;
   margin-top: 5px;
}
.square-section_office h6{
    text-align: left;
    font-size: 10px;
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 7px;
 }
.office_map{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    text-align: left;
}
.office_map a{
    text-decoration: none;
    margin-top: 5px;
    color: #000000;
}
/* Стили для футера */
footer {
    background-color: #d9d9d9;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.foot{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
.contact-info {
    display: flex;
    flex-direction: column;
}
.contact-info p{
    font-size: 14px;
    text-align: left;
}
.info_txt{
    max-width: 250px;
}
.info_num{
    margin-top: 5px;
}
.service-names {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.service-name {
    color: #000000;
    margin: 5px 0;
    font-weight: bolder;
    font-size: 20px;
}
.footer-logo {
    margin: 5px auto;
    scale: 1.25;
    width: 225px;
}
.footer_hr{
    width: 2px;
    color: #000000;
    background-color: #000000;
    height: 125px;
}

/*Всплывающие окна*/
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}
#popupContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 280px;
    height: 280px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url("img/popup.png");
    background-size:contain;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}
#overlay.active,
#popupContainer.active,
#PopupCompContainer.active,
#RenesContainer.active {
    opacity: 1;
}
#popupContainer.active,
#PopupCompContainer.active,
#RenesContainer.active {
    transform: translate(-50%, -50%) scale(1);
}
#popupTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}
.popupButton {
    display: block;
    font-family: cursive;
    font-weight: 300;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
}
.popupButton:hover {
    background-color: #0056b3;
}

#PopupCompContainer {
    display: none;
    position: fixed;
    max-width: 380px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 90%;
    height: 85%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

#RenesContainer{
    position: fixed;
    border-radius: 35px;
    left: 50%;
    top: 55%;
    width: 90%;
    max-width: 1000px;
    height: 85%;
    max-height: 1000px;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    overflow-y: scroll;
    transition: opacity 0.3s, transform 0.3s;
    background-color: #fff;
}

#closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: url('img/x.png') no-repeat center center;
    background-size: contain;
    color: #000000;
    cursor: pointer;
}

.hidden {
    display: none;
}
form {
    display: flex;
    flex-direction: column;
}
form select{
    border-radius: 10px;
    font-size: 15px;
}
form label{
    font-weight: 900;
}
form option{
    font-size: 12px;
}
